# Jupyter Notebook
.ipynb_checkpoints

# HTML
.html

# IPython
profile_default/
ipython_config.py

# Source data
data/
my_functions.egg-info/
cache/

# Test notebooks
kaggle/
notebooks/archives/
notebooks/mlflow_env/
notebooks/mlruns/

